// ==========================================================================
// Buttons
// ==========================================================================

// .btn {
// 	@include bg-colors($color-palette);
// }
.btn {
  @extend %center-align;
  @extend %btn;
  margin-bottom: em(20px, 14px);
  @include mq(sm) {
    width: 100%;
  }
  @include mq(med) {
    width: auto;
    display: inline-block;
    @include doubly(20px);
  }
  @include bem_mod(default) {
    @extend %center-align;
    background-color: palette(primary, base);
    @include bem_mod(outline) {
      @extend %center-align;
      color: palette(primary, dark);
      background-color: white;
      border: solid 2px palette(primary, dark);
      padding: 10px 20px;
    }
  }
}
