// ==========================================================================
// Buttons
// ==========================================================================

.card {
  border-radius: $bradius--card;
  background-color: palette(neutral, xx-light);
  padding: 20px;
  @include bem_el(centerfold) {
    max-width: 500px;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @include bem_el(text) {
    color: palette(neutral, x-dark);
    font-size: 14px;
  }
  @include bem_el(link) {
    &:hover {
      text-decoration: underline;
    }
  }
  @include bem_el(button) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @include bem_el(footer) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
