// ==========================================================================
// Images
// ==========================================================================

.img {
  @include bem_mod(wrap) {
    border: 1px solid palette(neutral, x-light);
    padding: em(12px);
  }
  @include bem_el(avatar) {
    display: block;
    border-radius: $bradius--round;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
  }
  @include bem_el(hero) {
    @media (min-width: 769px) {
      margin-bottom: em(42px);
    }
  }
  @include bem_el(logo) {
    width: 200px;
  }
  @include bem_el(icon) {
    border-radius: $bradius--round;
    width: 100px;
    margin-bottom: 0;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
