/*===============
Author: Carbon Digital
Author URI: https://carbondigital.us/
===============*/
/*===============
Utilities
===============*/
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
.grid:after {
  content: "";
  display: table;
  clear: both;
}

.srt, .form_label-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.btn-default-outline, .btn-default, .btn, .panel-padded-centered, .panel-centered,
.text-center {
  text-align: center;
}

.icn-nav-toggle:before {
  display: block;
  content: "";
  position: absolute;
}

.centered, .grid {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*===============
Base Styles
===============*/
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

* input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: hsl(214deg, 15%, 91%);
  font-size: 16px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

main {
  background-color: hsl(216deg, 33%, 97%);
}

h3 {
  font-size: 1.125em;
}

h4 {
  margin-top: 1.5714285714em;
  margin-bottom: 2.2857142857em;
  color: hsl(210deg, 16%, 82%);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 0.875em;
}

a {
  color: hsl(185deg, 81%, 29%);
  text-decoration: none;
  font-weight: 400;
}

p {
  margin: 0 0 1.6666666667em;
  font-weight: 300;
  font-size: 1.125em;
  line-height: 1.5;
}

blockquote {
  font-weight: 300;
  font-style: italic;
  font-size: 1.25em;
}
@media (min-width: 769px) {
  blockquote {
    margin: 1.3333333333em 0;
    padding: 0 0 0 5%;
    border-left: 0.3333333333em solid hsl(214deg, 15%, 91%);
    font-size: 1.5em;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  margin-bottom: 0.625em;
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

input,
textarea {
  display: block;
  padding: 15px;
  width: 100%;
  outline: 0;
  border: 0;
}

input:focus,
textarea:focus {
  transition: 0.3s;
}

input[type=checkbox]:hover,
input[type=checkbox]:hover + label {
  cursor: pointer;
}

button {
  outline: 0;
}

footer {
  border-top: 1px solid hsl(214deg, 15%, 91%);
}
footer p {
  font-size: 1em;
  margin-top: 1.375em;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex {
  display: flex;
}

.flex-justify-center {
  justify-content: center;
}

.m-20 {
  margin: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.m-10 {
  margin: 10px;
}

.mt-5 {
  margin-top: 5px;
}

.bg-gray {
  background-color: hsl(216deg, 33%, 97%);
}

#appMainDashboard {
  min-height: calc(100vh - 63.5px);
}
#appMainDashboard p {
  color: black;
}
#appMainDashboard hr {
  width: 25%;
}

#userbox {
  width: 300px;
}

#userMenu {
  position: absolute;
  right: 50px;
  top: 100px;
  display: none;
}
#userMenu h3,
#userMenu h4 {
  font-size: 1.5em;
  color: hsl(185deg, 81%, 29%);
  margin-top: 0;
  margin-bottom: 0;
}
#userMenu h4 {
  font-size: 1em;
}
#userMenu li {
  margin-top: 5px;
  margin-bottom: 5px;
}
#userMenu i {
  margin-right: 10px;
}

.activeModal {
  display: block !important;
}

/*===============
Layout Styles
===============*/
.panel-centered, .panel {
  padding-top: 1.875em;
}
@media (min-width: 768px) {
  .panel-centered, .panel {
    padding-bottom: 1.25em;
  }
}

.panel-padded-centered, .panel-padded {
  padding-top: 2.125em;
}
@media (min-width: 768px) {
  .panel-padded-centered, .panel-padded {
    padding-top: 5em;
    padding-bottom: 2.125em;
  }
}

.grid {
  width: 90%;
}
[class*=grid__col--] > .grid {
  width: 100%;
}
@media (min-width: 992px) {
  .grid {
    max-width: 1050px;
  }
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.col-md-12 {
  padding-right: 0;
  padding-left: 0;
}

/*===============
Modules
===============*/
.headline-primary-grouped, .headline-primary, h1 {
  color: hsl(209deg, 18%, 30%);
  font-weight: 300;
  font-size: 2.625em;
  line-height: 1.0952380952;
  margin-top: 0;
}

.headline-card, .headline-secondary-grouped, .headline-secondary, h2 {
  color: hsl(211deg, 13%, 65%);
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 1.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn, .form_btn {
  padding: 15px 30px;
  border: 0;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: 400;
  transition: opacity 0.3s;
  display: block;
}
.btn:hover, .form_btn:hover {
  opacity: 0.75;
}
.btn:active, .form_btn:active {
  opacity: initial;
}

.icn-nav-toggle {
  line-height: 0;
  cursor: pointer;
}

.img-wrap {
  border: 1px solid hsl(210deg, 16%, 82%);
  padding: 0.75em;
}
.img_avatar {
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}
@media (min-width: 769px) {
  .img_hero {
    margin-bottom: 2.625em;
  }
}
.img_logo {
  width: 200px;
}
.img_icon {
  border-radius: 50%;
  width: 100px;
  margin-bottom: 0;
  margin-left: 50%;
  transform: translateX(-50%);
}

.headline-primary {
  margin-bottom: 1.6666666667em;
}
.headline-primary-grouped {
  margin-bottom: 0;
}
.headline-secondary {
  margin-bottom: 0.9166666667em;
}
.headline-secondary-grouped {
  margin-top: 0.4166666667em;
  margin-bottom: 2.25em;
}
.headline-card {
  color: hsl(209deg, 20%, 25%);
  font-weight: 700;
}

.link_avatar {
  margin-top: 0;
}

.form_label {
  color: #0b0b0b;
  display: block;
  margin-bottom: 0.625em;
}
.form_label_checkbox {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
}
.form_input {
  font-size: 1.125em;
  margin-bottom: 1.1111111111em;
  border: 2px solid hsl(185deg, 81%, 29%);
  border-bottom: 6px solid hsl(185deg, 81%, 29%);
  border-radius: 8px;
  background: hsl(216deg, 33%, 97%);
  color: #0b0b0b;
  font-weight: 300;
}
.form_input:focus {
  border-color: hsl(185deg, 62%, 45%);
}
.form_btn {
  background: hsl(185deg, 62%, 45%);
  margin-top: 20px;
  margin-bottom: 20px;
}
.form_group {
  position: relative;
  display: flex;
}
.form_checkbox {
  width: 25px;
  height: 25px;
  background: hsl(216deg, 33%, 97%);
  border: 2px solid hsl(185deg, 81%, 29%);
  border-radius: 8px;
}

.btn {
  margin-bottom: 1.4285714286em;
}
@media (min-width: 640px) {
  .btn {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .btn {
    width: auto;
    display: inline-block;
  }
  .btn + .btn {
    margin-left: 20px;
  }
}
.btn-default {
  background-color: hsl(185deg, 62%, 45%);
}
.btn-default-outline {
  color: hsl(185deg, 81%, 29%);
  background-color: white;
  border: solid 2px hsl(185deg, 81%, 29%);
  padding: 10px 20px;
}

.card {
  border-radius: 20px;
  background-color: hsl(214deg, 15%, 91%);
  padding: 20px;
}
.card_centerfold {
  max-width: 500px;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card_text {
  color: hsl(209deg, 20%, 25%);
  font-size: 14px;
}
.card_link:hover {
  text-decoration: underline;
}
.card_button {
  margin-top: 20px;
  margin-bottom: 20px;
}
.card_footer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-link {
  text-transform: uppercase;
}

.navbar {
  position: relative;
}
@media (min-width: 768px) {
  .navbar {
    margin-top: 0.3125em;
    margin-bottom: 0;
  }
}

header {
  padding: 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.header_secondary {
  padding-top: 25px;
  text-align: center;
  color: black;
  width: 100%;
}
.header_secondary:hover {
  border-bottom: solid 2px black;
}
.header_secondary_link-active {
  border-bottom: solid 2px black;
}

.site-logo {
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  width: 115px;
  height: 45px;
  display: inline-block;
}

.icn-nav-toggle {
  font-size: 1.125em;
  border-top: solid 3px;
  border-bottom: solid 3px;
  position: relative;
}
.icn-nav-toggle:before {
  width: 25px;
  height: 3px;
  background: hsl(211deg, 13%, 65%);
  top: 4px;
}
.icn_form {
  font-size: 1.125em;
  position: absolute;
  top: 25%;
  right: 25px;
  color: hsl(209deg, 18%, 30%);
}

.link_avatar {
  margin-top: 0;
}

.modal_profile {
  max-width: 500px;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal_divider {
  height: 2px;
  color: hsl(185deg, 81%, 29%);
}

/*===============
States
===============*/
@media (min-width: 640px) {
  .is-displayed-mobile {
    display: block;
  }
  .is-hidden-mobile {
    display: none;
  }
}
@media (min-width: 768px) {
  .is-displayed-mobile {
    display: none;
  }
}

@media (min-width: 640px) {
  .is-collapsed-mobile {
    visibility: collapse;
    padding: 0;
    height: 0;
    margin: 0;
    line-height: 0;
  }
}

#appMainKitList {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.kit__card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 250px;
  text-align: center;
  border: solid 1px black;
  padding: 20px;
  margin: 20px;
}
.kit__card:hover {
  background-color: black;
}
.kit__card:hover h2,
.kit__card:hover p {
  color: white;
}
.kit__card h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.kit__card p {
  margin-bottom: 5px;
}

.kit__thumbnail-img {
  margin-bottom: 0;
}

/*# sourceMappingURL=style.css.map */
