// ==========================================================================
// Global Config
// ==========================================================================

// You’ll want systems for things like:
// Font weight
// Line height
// Margin
// Padding
// Width
// Height
// Border radius
// Border width
// Opacity

// COLORS

$white	: #fff;
$black	: #0b0b0b;

// Primary Colors: CYAN base
$color-cyan050: hsl(186, 100%, 94%);
$color-cyan100: hsl(185, 94%, 87%);
$color-cyan200: hsl(184, 80%, 74%);
$color-cyan300: hsl(184, 65%, 59%);
$color-cyan400: hsl(185, 57%, 50%);
$color-cyan500: hsl(185, 62%, 45%);
$color-cyan600: hsl(184, 77%, 34%);
$color-cyan700: hsl(185, 81%, 29%);
$color-cyan800: hsl(185, 84%, 25%);
$color-cyan900: hsl(184, 91%, 17%);
$cyan: $color-cyan500;

// Neutral Colors: COOL GRAY base
$color-gray050: hsl(216, 33%, 97%);
$color-gray100: hsl(214, 15%, 91%);
$color-gray200: hsl(210, 16%, 82%);
$color-gray300: hsl(211, 13%, 65%);
$color-gray400: hsl(211, 10%, 53%);
$color-gray500: hsl(211, 12%, 43%);
$color-gray600: hsl(209, 14%, 37%);
$color-gray700: hsl(209, 18%, 30%);
$color-gray800: hsl(209, 20%, 25%);
$color-gray900: hsl(210, 24%, 16%);
$gray: $color-gray500;

// Supporting Color: BLUE base
$color-blue050: hsl(205, 79%, 92%);
$color-blue100: hsl(205, 97%, 85%);
$color-blue200: hsl(205, 84%, 74%);
$color-blue300: hsl(205, 74%, 65%);
$color-blue400: hsl(205, 65%, 55%);
$color-blue500: hsl(205, 67%, 45%);
$color-blue600: hsl(205, 76%, 39%);
$color-blue700: hsl(205, 82%, 33%);
$color-blue800: hsl(205, 87%, 29%);
$color-blue900: hsl(205, 100%, 21%);
$blue: $color-blue500;

// Supporting Color: RED base
$color-red050: hsl(360, 100%, 97%);
$color-red100: hsl(360, 82%, 89%);
$color-red200: hsl(360, 77%, 78%);
$color-red300: hsl(360, 71%, 66%);
$color-red400: hsl(360, 64%, 55%);
$color-red500: hsl(360, 67%, 44%);
$color-red600: hsl(360, 72%, 38%);
$color-red700: hsl(360, 79%, 32%);
$color-red800: hsl(360, 85%, 25%);
$color-red900: hsl(360, 92%, 20%);
$red: $color-red500;

// Supporting Color: YELLOW base
$color-yellow050: hsl(45, 100%, 96%);
$color-yellow100: hsl(45, 90%, 88%);
$color-yellow200: hsl(45, 86%, 81%);
$color-yellow300: hsl(43, 90%, 76%);
$color-yellow400: hsl(43, 89%, 70%);
$color-yellow500: hsl(42, 78%, 60%);
$color-yellow600: hsl(42, 63%, 48%);
$color-yellow700: hsl(43, 72%, 37%);
$color-yellow800: hsl(43, 77%, 27%);
$color-yellow900: hsl(43, 86%, 17%);
$yellow: $color-yellow500;

// Supporting Color: TEAL base
$color-teal050: hsl(152, 68%, 96%);
$color-teal100: hsl(154, 75%, 87%);
$color-teal200: hsl(156, 73%, 74%);
$color-teal300: hsl(158, 58%, 62%);
$color-teal400: hsl(160, 51%, 49%);
$color-teal500: hsl(162, 63%, 41%);
$color-teal600: hsl(164, 71%, 34%);
$color-teal700: hsl(166, 72%, 28%);
$color-teal800: hsl(168, 80%, 23%);
$color-teal900: hsl(170, 97%, 15%);
$teal: $color-teal500;

// Color Palettes
$color-palettes: (
	primary: (
		xxx-light		: $color-cyan050,
		xx-light		: $color-cyan100,
		x-light			: $color-cyan200,
		light				: $color-cyan300,
		semi-light	: $color-cyan400,
		base				: $color-cyan500,
		semi-dark		: $color-cyan600,
		dark				: $color-cyan700,
		x-dark			: $color-cyan800,
		xx-dark			: $color-cyan900
	),
	neutral: (
		xxx-light		: $color-gray050,
		xx-light		: $color-gray100,
		x-light			: $color-gray200,
		light				: $color-gray300,
		semi-light	: $color-gray400,
		base				: $color-gray500,
		semi-dark		: $color-gray600,
		dark				: $color-gray700,
		x-dark			: $color-gray800,
		xx-dark			: $color-gray900
	),
	info: (
		xxx-light		: $color-blue050,
		xx-light		: $color-blue100,
		x-light			: $color-blue200,
		light				: $color-blue300,
		semi-light	: $color-blue400,
		base				: $color-blue500,
		semi-dark		: $color-blue600,
		dark				: $color-blue700,
		x-dark			: $color-blue800,
		xx-dark			: $color-blue900
	),
	error: (
		xxx-light		: $color-red050,
		xx-light		: $color-red100,
		x-light			: $color-red200,
		light				: $color-red300,
		semi-light	: $color-red400,
		base				: $color-red500,
		semi-dark		: $color-red600,
		dark				: $color-red700,
		x-dark			: $color-red800,
		xx-dark			: $color-red900
	),
	warning: (
		xxx-light		: $color-yellow050,
		xx-light		: $color-yellow100,
		x-light			: $color-yellow200,
		light				: $color-yellow300,
		semi-light	: $color-yellow400,
		base				: $color-yellow500,
		semi-dark		: $color-yellow600,
		dark				: $color-yellow700,
		x-dark			: $color-yellow800,
		xx-dark			: $color-yellow900
	),
	success: (
		xxx-light		: $color-teal050,
		xx-light		: $color-teal100,
		x-light			: $color-teal200,
		light				: $color-teal300,
		semi-light	: $color-teal400,
		base				: $color-teal500,
		semi-dark		: $color-teal600,
		dark				: $color-teal700,
		x-dark			: $color-teal800,
		xx-dark			: $color-teal900
	)
);

$box-shadows: (
	single: (
		100:	0 1px 3px hsla(0, 0%, 0%, 0.2),
		200:	0 4px 6px hsla(0, 0%, 0%, 0.2),
		300:	0 5px 15px hsla(0, 0%, 0%, 0.2),
		400:	0 10px 24px hsla(0, 0%, 0%, 0.2),
		500:	0 15px 35px hsla(0, 0%, 0%, 0.2)
	),
	double: (
		100:	'0 1px 3px rgba(0, 0%, 0%, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)',
		200:	'0 3px 6px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12)',
		300:	'0 10px 20px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.10)',
		400:	'0 15px 25px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.05)',
		500:	0 20px 40px rgba(0, 0, 0, 0.20)
	)
);
// Font Stacks
$font-url--google				:	'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';
$font-family--primary   : 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary : 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Text
$base__font-size : 16px;
$base__line      : 24px;
$letter-space    : 1px;

// Font Sizes
$font_sizes: (
	12:	12px,
	14: 14px,
	16: 16px,
	18: 18px,
	20: 20px,
	24: 24px,
	30: 30px,
	36: 36px,
	48: 48px,
	60: 60px,
	72: 72px
);

// Font Weights
$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;

// Border radius
$bradius--default	: 8px;
$bradius--card		: 20px;
$bradius--round		: 50%;

// Transitions
$trns-duration  : 0.3s;

// Path to Assets
$path--rel      : "../img";

// Grid
$g-col-width    : 65px;
$g-gutter-width : 20px;
$g-col-count    : 12;
$g-cont-max-w   : 1050px;

// Breakpoints
$bp-xsmall		: 400px;
$bp-small			: 640px;
$bp-medium		: 768px;
$bp-large			: 992px;
$bp-xlarge		: 1200px;
